apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: dsbd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      initContainers:
        - name: wait-for-upstreams
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              until nc -z user-manager-service 8081; do echo 'attendo user-manager...'; sleep 2; done
              until nc -z data-collector-service 8082; do echo 'attendo data-collector...'; sleep 2; done
      containers:
        - name: nginx
          image: nginx:1.27-alpine
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10
      volumes:
        - name: nginx-config
          configMap:
            name: api-gateway-nginx