server:
  port: 8084

spring:
  application:
    name: alert-notifier-service

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
    consumer:
      group-id: alert-notifier
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: latest

  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:25}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:false}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS_ENABLE:false}
    default-encoding: UTF-8

logging:
  level:
    root: INFO
    flights.alertnotifier: DEBUG

app:
  alerts:
    input-topic: to-notifier
    mail:
      from: ${MAIL_FROM:no-reply@system-alerts.local}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      service: ${SERVICE_NAME:${spring.application.name}}
      node: ${NODE_NAME:unknown}